html{
    box-sizing: border-box;
    font-size: 16px;
}
/* navigation*/
.header{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 10vh;
    padding-top: 20px;
}
.nav{
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    position: absolute;
    transform: all 0.3s;
    background: white;
    z-index: 9;
    top: 0px;
    width: 100%;
}

.nav ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav ul li{
    display: flex;
}

.nav ul li .nav-left{
    float: left;
}

.nav ul li a{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #333;
    padding: 10px 0;
    margin: 0 1.80rem;
    text-decoration: none;
    transition: 0.5s;
}

.nav ul li a:hover{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: gold;
    padding: 10px 0;
    margin: 0 1.80rem;
    text-decoration: none;
    transition: 0.5s;
}

.nav ul li a:active{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: red;
    padding: 10px 0;
    margin: 0 1.80rem;
    text-decoration: line-through;
}

.nav ul li.logo a{
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    margin: 0 250px;
}

/*toggle menu*/
.nav-icon{
    position: absolute;
    top: 27px;
    right: 30px;
    padding: 5px;
    width: 40px;
    z-index: 1;
    cursor: pointer;
}
.nav span{
    background: #333;
    width: 30px;
    height: 1px;
    display: block;
    transition: 300ms linear all;
}
.nav-icon span:nth-child(1),
.nav-icon span:nth-child(3){
    width: 20px;
    margin: 0 auto;
}
.nav-icon span:nth-child(2){
    margin: 5px 0;
    width: 32px;
}
.nav-icon:hover span:nth-child(1),
.nav-icon:hover span:nth-child(3){
    width: 30px;
}
/* /toggle menu*/
/* /navigation*/

/*top section*/
/* removes default card padding*/
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    & > [class^="col-"],
    & > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}


.top-section{
    height: 90vh;
    padding: 0 15px;
}
.top-section .top-section-announcement{
    background-image: url("../img/background-slide-one.jpg");
    background-size: cover; /*cover or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    /*vertically/horizantally aligns text*/
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    /**/
}

.container-fluid{
    padding: 0;
}

.top-section h1{
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    padding: 0;
    
}
/*top-section button*/
.top-section button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    border: none;
    color: #333;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    transition: 0.5s;
}

.top-section button:hover{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    border: none;
    color: #FFF;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    transition: 0.5s;
}
/* /top-section button*/

.desktop-card-section{
    padding: 15px 15px 15px 0;
}
.mobile-card-section-top, .mobile-card-section-bottom{
    display: none;
}
.top-section .top-section-announcement{
    padding: 0;
}
.card{
    border: none;  
}

.card-one, .card-two, .card-three, .card-four{
    padding-left: 15px;
}

/*removes padding on top and bottom row*/
.top-section .container-top, .top-section .container-bottom{
    padding: 0;
}
/* /top section*/


/*CONTENT NAVBAR*/
.tab {
    overflow: hidden;
    border: 0 solid #FFF;
    background-color: #FFF;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #FFF;
    border: none;
    color: #333;
    padding: 5px 10px;
    transition: 0.5s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #333;
    border: none;
    color: #FFF;
    padding: 5px 10px;
    text-align: center;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: tan;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
#London img{
    width: 250px;
}
/*products carousel*/
@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
    }
  
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
    }
  
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
  
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }
footer{
    padding: 125px 0;
}
/*xs*/
@media (max-width: 575px){
    html body{
    background-color:;
    height: 100vh;
    }

    .container-fluid{
        padding: 0;
    }

    .top-section{
        padding: 0;
    }

    .top-section h1{
        text-transform: uppercase;
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding: 0;
    }
    .desktop-card-section{
        display: none;
    }
    .mobile-card-section-top{
        display: block;
        padding: 5px 0;
    }

    .mobile-card-section-bottom{
        display: block;
        padding: 0 0 5px 0;
    }

    .card-one{
        padding: 0 2.5px 0 0;
    }

    .card-three{
        padding: 0 0 0 2.5px;
    }
    
    .card-two{
        padding: 0 0 0 2.5px;
    }
    
    .card-four{
        padding: 0 2.5px 0 0;
    }

    .content-nav ul li{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        margin: 0 15px;
    }
    /**/
    
  /*CONTENT TAB*/
}
/*sm*/
@media (min-width: 576px) and (max-width: 767px){
    html body{
    background-color: red;
    height: 100vh;
    }

    .container-fluid{
        padding: 0;
    }

    .top-section{
        padding: 0;
    }
    .top-section h1{
        text-transform: uppercase;
        font-family: 'Quicksand', sans-serif;
        font-size: 25px;
        padding: 0;
    }
    .desktop-card-section{
        display: none;
    }
    .mobile-card-section-top{
        display: block;
        padding: 5px 0;
    }

    .mobile-card-section-bottom{
        display: block;
        padding: 0 0 5px 0;
    }

    .card-one{
        padding: 0 2.5px 0 0;
    }

    .card-three{
        padding: 0 0 0 2.5px;
    }
    
    .card-two{
        padding: 0 0 0 2.5px;
    }
    
    .card-four{
        padding: 0 2.5px 0 0;
    }
}
/*md*/
@media (min-width: 768px) and (max-width: 991px){
    html body{
    background-color: orange;
    height: 100vh;
    }
    

    .container-fluid{
        padding: 0;
    }
    
    .top-section h1{
        text-transform: uppercase;
        font-family: 'Quicksand', sans-serif;
        font-size: 30px;
        padding: 0;
    }

    .mobile-card-section-top, .mobile-card-section-bottom{
        display: none;
    }
}
/*lg*/
@media (min-width: 992px) and (max-width: 1199px){
    html body{
    background-color: cyan;
    height: 100vh;
    }

    .container-fluid{
        padding: 0;
    }
    
    .top-section h1{
        text-transform: uppercase;
        font-family: 'Quicksand', sans-serif;
        font-size: 4px;
    }
}
/*xl*/
@media (min-width: 1200px){
    html body{
    background-color: white;
    height: 100vh;
    }

    .container-fluid{
        padding: 0;
    }
    
    .top-section h1{
        text-transform: uppercase;
        font-family: 'Quicksand', sans-serif;
        font-size: 35px;
        padding: 325px 0 20px 0;
    }
}
